
.mfi-transparency:before { content: '\e800'; } /* '' */
.mfi-cancel-circled:before { content: '\e801'; } /* '' */
.mfi-cancel-squared:before { content: '\e802'; } /* '' */
.mfi-plus:before { content: '\e803'; } /* '' */
.mfi-plus-circled:before { content: '\e804'; } /* '' */
.mfi-plus-squared:before { content: '\e805'; } /* '' */
.mfi-minus:before { content: '\e806'; } /* '' */
.mfi-minus-circled:before { content: '\e807'; } /* '' */
.mfi-minus-squared:before { content: '\e808'; } /* '' */
.mfi-help:before { content: '\e809'; } /* '' */
.mfi-help-circled:before { content: '\e80a'; } /* '' */
.mfi-info-circled:before { content: '\e80b'; } /* '' */
.mfi-layers:before { content: '\e80c'; } /* '' */
.mfi-cancel:before { content: '\e80d'; } /* '' */
.mfi-eye-off:before { content: '\e80e'; } /* '' */
.mfi-eye:before { content: '\e80f'; } /* '' */
.mfi-cog:before { content: '\e810'; } /* '' */
.mfi-menu:before { content: '\e811'; } /* '' */
.mfi-drag:before { content: '\e812'; } /* '' */
.mfi-globe:before { content: '\f018'; } /* '' */
.mfi-angle-left:before { content: '\f104'; } /* '' */
.mfi-angle-up:before { content: '\f106'; } /* '' */
.mfi-angle-down:before { content: '\f107'; } /* '' */
.mfi-circle:before { content: '\f111'; } /* '' */
.mfi-circle-thin:before { content: '\f1db'; } /* '' */
.mfi-sliders:before { content: '\f1de'; } /* '' */
.mfi-map:before { content: '\f278'; } /* '' */