html, body{
    margin:0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    --map-gui-bg: rgba(0,40,80,.7);
    --map-gui-fg: #fff;
    --map-gui-fg-hover: #6cf;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#map{
    width: 100%;
    height: 100%;
    background: #000000;
    position: absolute;
}

.gl-fail{
    text-align: center;
    padding-top: 20%;
    font-size: 1.5em;
    overflow: hidden;
}

.gl-fail a{
    text-decoration: none;
    color:#fff;
}

.mfi{
    font-family: "mapfont";
    font-style: normal;
    font-weight: normal;
    speak: none;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hidden,
body:not(.gl) .w-gl,
body.gl .no-gl{
    display: none;
}

label.dropdown{
    display: block;
}

label.dropdown>input[type=checkbox],
label.dropdown>input[type=checkbox]:not(:checked)+.content{
    display: none;
}
.map-gui>*{
    z-index: 400;
    position: absolute;
}
.map-layers{
    margin:0.2em;
    border-radius: .2em;
    padding:.4em .6em;
    background: var(--map-gui-bg);
    color: var(--map-gui-fg);
}
.map-layers.editor-hidden .layers-editor{
    transition: .5s;
    height: 0;
    width: 0;
    overflow-y: hidden;
}
.layers-editor{
    transition: .5s;
    overflow-x: hidden;
    max-height: calc(100vh - 8em);
}
.map-layers .layers-toggle-button{
    font-size: 1.5em;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    padding:.1em .1em;
    cursor: pointer;
}
.map-layers .layers-toggle-button:hover{
    color: var(--map-gui-fg-hover);
}
.buttons{
    top:0;
    right:0;
    padding:.2em;
}
.buttons>*{
    display: inline-block;
    margin:0.2em;
    border-radius: .2em;
    padding:.4em .6em;
    background: var(--map-gui-bg);
    color: var(--map-gui-fg);
    height: 1.2em;
    font-size: 1.5em;
    text-align: center;
}
.buttons>*:hover{
    color: var(--map-gui-fg-hover);
}
.buttons a{
    text-decoration: none;
}
.layers-list{
    border-top: 1px solid #fff;
}
.layer-list-card{
    border-bottom: 1px solid #fff;
}
.layer-list-card .title{
    font-size: 1em;
    padding: 0;
    margin: 0;
    font-weight: 600;
}
.opacity{
    display: grid;
    grid-template: auto/ 1.5em 1fr;
    height: 1.5em;
    overflow: hidden;
    justify-items: stretch;
    align-items: center;
}

.opacity [type=range]{
    -webkit-appearance: none;
    margin: 0;
    width: 100%;
    background: none;
    --thumb-border-color:#fff;
    --thumb-bg-color:rgba(0,40,80,0);
    --track-box-shadow-color:#fff;
}
.opacity [type=range]:focus {
    outline: none;
}
.opacity [type=range]::-moz-range-track {
    height: .7em;
    cursor: pointer;
    background:
        linear-gradient(to right, rgba(255,255,255,0.5) 0%,rgba(255,255,255,1) 100%),
        url(./res/checkerboard.png) left top repeat,
        rgba(255,255,255,.5);
    border-radius: .3em;
    box-shadow: inset 0.05em 0.07em 0.2em 0em var(--track-box-shadow-color);
}
.opacity [type=range]::-moz-range-thumb {
    border: .3em solid var(--thumb-border-color);
    height: .7em;
    width: .7em;
    border-radius:50%;
    background: var(--thumb-bg-color);
    cursor: pointer;
    box-shadow: inset 0.05em 0.07em 0.2em 0em rgba(0,0,0,.5), 0.1em 0.1em 0.2em rgba(0,0,0,.5);
}
.opacity [type=range]::-webkit-slider-runnable-track {
    height: .7em;
    cursor: pointer;
    background:
        linear-gradient(to right, rgba(255,255,255,0.5) 0%,rgba(255,255,255,1) 100%),
        url(./res/checkerboard.png) left top repeat,
        rgba(255,255,255,.5);
    border-radius: .3em;
    box-shadow: inset 0.05em 0.07em 0.2em 0em var(--track-box-shadow-color);
}
.opacity [type=range]::-webkit-slider-thumb {
    font-size: 1.5em;
    margin-top: -.1em;
    border: .15em solid var(--thumb-border-color);
    height: .7em;
    width: .7em;
    -webkit-appearance: none;
    border-radius:50%;
    background: var(--thumb-bg-color);
    cursor: pointer;
    box-shadow: inset 0.05em 0.07em 0.2em 0em rgba(0,0,0,.5), 0.1em 0.1em 0.2em rgba(0,0,0,.5);
}
.opacity [type=range]::-ms-track {
    font-size:.9em;
    height: .7em;
    cursor: pointer;
    border: 0px none;
    background:
        linear-gradient(to right, rgba(255,255,255,0.5) 0%,rgba(255,255,255,1) 100%),
        url(./res/checkerboard.png) left top repeat,
        rgba(255,255,255,.5);
    border-radius: .3em;
    box-shadow: inset 0.05em 0.07em 0.2em 0em var(--track-box-shadow-color);
}
.opacity [type=range]::-ms-thumb {
    font-size:.8em;
    border: .3em solid var(--thumb-border-color);
    height: .7em;
    width: .7em;
    border-radius:50%;
    background: var(--thumb-bg-color);
    cursor: pointer;
    box-shadow: inset 0.05em 0.07em 0.2em 0em rgba(0,0,0,.5), 0.1em 0.1em 0.2em rgba(0,0,0,.5);
}